body 
{
    background-image: url(R\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size:cover;
   text-align: center;
   font-size: medium;
}

header 
{
   font-size: 40px;
   text-align: center;
   background-color: rgb(255, 246, 162);
   color: black;
   text-decoration: underline;
   border-color: rgb(255, 255, 255);
   border-radius: 50px;
   border-style: groove;
  
}
p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: larger;
}
nav{
    align-items: center;
    float: left;
    font-size: large;
    background-color: rgb(255, 246, 162);
    min-height: 45cm;
   border-color: rgb(255, 255, 255);
   border-radius: 50px;
   border-style: groove;

}