body 
{
    background-image: url(R\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size:cover;
   text-align: center;
   font-size: medium;
   
   
}
p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: larger;
}
header{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: larger;
}
nav{
    align-items: center;
    float: left;
    font-size: large;
    background-color: rgb(255, 246, 162);
    min-height: 30cm;
   border-color: rgb(255, 255, 255);
   border-radius: 50px;
   border-style: groove;

}